@import url('https://fonts.googleapis.com/css?family=Roboto|Signika&display=swap');
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}


section {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    /* border: 1px solid black; */
    
}

article {
    width:600px;
    margin:25px;
}

.flex-container {
    display:flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.section-item {
    margin: auto;
}

ul {
    list-style-type: none;
}

ul > li {
    display: inline;
    margin: 10px;
}

/* h1 {
    border-bottom: 5px solid black;
    
} */

.body-copy{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    }

.headline-copy{
        font-family: 'Signika', sans-serif;
    }

    .red{
        background-color: #EF3837;
    }
    .brown{
        background-color: #DDB784;
    }
    .grey{
        background-color: #C7B6BB;
    }
.black{
    background-color: #231F20;
}
.dark-brown{
    background-color: #B98538;
}
    
i {
    font-size:60px;
    color:black;
}

    code {
        background-color:black;
        color:rgb(221, 183, 132);
        padding:15px;
        line-height: 42px;
    }

    .colour-item{
        
        list-style-type: none;
        display: inline-block;
        width: 200px;
        height: 200px;
        margin: 10px;
        border: 1px solid black 
        
    }
    .section-title {
        font-size:2em;
        border-bottom:2px solid black;
        width:100%;
        display:block;
    }


    article {
        width:600px;
        margin:25px;
    }

    .flex-container {
        display:flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
    }

    