
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}


section {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    border: 1px solid black;
    
}

.section-item {
    margin: auto;
}

ul {
    list-style-type: none;
}

ul > li {
    display: inline;
    margin: 10px;
}

h1 {
    border-bottom: 5px solid black;
    font-family: 'Roboto Condensed', sans-serif;
    
}